<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!-- Bazel build supplement: provides keys that Xcode injects via build settings. -->
<plist version="1.0">
<dict>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0</string>
    <key>CFBundleExecutable</key>
    <string>machNotch</string>
    <key>CFBundleName</key>
    <string>machNotch</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
</dict>
</plist>
